@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Stack+Sans+Text:wght@200..700&display=swap');


.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    padding: 0 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
    z-index: 1000;
}


/* Título central */
.menu-title {
    flex: 1;
    text-align: center;
    letter-spacing: 1px;
    color: #cdeefd;
    font-size: 40px;
    font-weight: 600;
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 860;
    font-style: normal;
}

/* Lado direito - botões */
.menu-right {
    display: flex;
    gap: 10px;
}

.menu-right a {
    background-color: #838383;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: 200;
    cursor: pointer;
    transition: background-color 0.2s;
}

.menu-right a {
    --color: #ffffff;
    --color2: rgb(10, 25, 30);
    padding: 0.8em 1.75em;
    background-color: transparent;
    border-radius: 6px;
    border: .3px solid var(--color);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 300;
    font-size: 17px;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    text-transform: uppercase;
    color: var(--color);
}

.menu-right a::after,
.menu-right a::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: var(--color);
}

.menu-right a::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.menu-right a:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

.menu-right a:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
}

.menu-right a:hover {
    color: var(--color2);
}

.menu-right a:active {
    filter: brightness(.7);
    transform: scale(.98);
}

.menu-right a:hover {
    background-color: #f6f8ff;
}


main,
section,
.conteudo {
    padding-top: 70px;
}

.footer {
    text-align: center;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}